/*===Declaring global CSS variables START===*/
:root {
  --main-color: rgba(33, 150, 243, 1);
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --gray-color: rgba(117, 117, 117, 1);
  --black-color: rgba(33, 33, 33, 1);
  --white-color: rgba(255, 255, 255, 1);
  --background-color: #f5f4fa;
  --color1: rgba(255, 255, 255, 0.1);
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

body {
  font-family: var(--main-font);
  margin: 0%;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 0px 15px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*===Declaring global CSS variables END===*/

/*===HEADER START===*/

header {
  display: block;
}

.header {
  margin: auto;
  width: 1600px;
  height: 80px;
  border-bottom: 1px solid #ececec;
  background-color: var(--white-color);
}

.header_flex {
  display: flex;
  height: 80px;
}

.web {
  padding-left: 215px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--main-color);
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.03em;
}
.studio {
  color: var(--black-color);
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.web:hover {
  text-decoration: none;
  color: var(--main-color);
}

.nav_flex {
  padding-left: 93px;
  padding-top: 32px;
  display: flex;
  gap: 46px;
  margin: 0;
}

.nav-list {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.agency {
  line-height: 1.1;
  font-weight: 500;
  font-size: 14px;
  color: var(--black-color);
  letter-spacing: 0.02em;
  position: relative;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agency:hover {
  color: var(--main-color);
}

.accentuation {
  z-index: 1;
  margin: auto;
  position: absolute;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  margin-top: 27px;
  bottom: 0px;
}

.portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--black-color);
  text-decoration: none;
  position: relative;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio:hover {
  color: var(--main-color);
}

.contact {
  line-height: 1.1;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--black-color);
  text-decoration: none;
  position: relative;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover {
  color: var(--main-color);
}

.contact_list {
  cursor: pointer;
  display: flex;
  padding-left: 371px;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 50px;
}
.contact_list:hover {
  color: var(--main-color);
}

.mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--gray-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.02em;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail_icon_header {
  margin-right: 10px;
}

.mail:hover {
  color: var(--main-color);
  fill: var(--main-color);
}

.mail_icon_header:hover .mail {
  color: var(--main-color);
}

.phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--gray-color);
  fill: #757575;
}

.phone_icon_header {
  margin-right: 10px;
}

.phone:hover {
  color: var(--main-color);
  fill: var(--main-color);
}

.phone_icon_header:hover .phone {
  color: var(--main-color);
}

/*===HEADER END===*/

/*===MENU START===*/

main {
  width: 1600px;
  margin: auto;
}

.menu {
  height: 600px;
  width: 1600px;
  margin: auto;
  object-fit: cover;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img17.jpg);
}

.text_in_header {
  width: 696px;
  line-height: 1.4;
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 30px;
  color: var(--white-color);
}
.button {
  width: 200px;
  height: 50px;
  border: none;
  background: var(--main-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  display: block;
}

.button:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}

.icon_list {
  display: flex;
  gap: 30px;
  width: 1200px;
  margin: auto;
  padding-top: 94px;
}

.p-icon {
  width: 270px;
  border-radius: 4px;
  flex-direction: row;
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;

  justify-content: center;
  background-color: var(--background-color);
}

.advantages {
  margin-top: 30px;
  margin-bottom: 94px;
}

.flex-first {
  display: flex;
  gap: 30px;
}

.lorem_ipsum {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--black-color);
  letter-spacing: 0.03em;
  margin-left: auto;
}

.lorem_ipsum_text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--gray-color);
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: auto;
}

.main_section {
  padding-top: 0px;
}

.section {
  margin: 94px 0px 94px 0px;
}

.what_we_do_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  padding-bottom: 50px;
  margin: 0;
}

.img1 {
  background-image: url(../images/img1.jpg);
  width: 370px;
  height: 294px;
  margin: 0;
}
.img2 {
  background-image: url(../images/img2.jpg);
  width: 370px;
  height: 294px;
  margin: 0;
}
.img3 {
  background-image: url(../images/img3.jpg);
  width: 370px;
  height: 294px;
  margin: 0;
}

.div-in-wwd {
  text-align: end;
  margin-top: 224px;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.text-in-wwd {
  margin: 0;
  padding-top: 27px;
  text-align: center;
  color: var(--white-color);
}

.picture {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.team_section {
  height: 648px;
  background-color: rgba(245, 244, 250, 1);
  margin-left: auto;
  margin-right: auto;
}

.team_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--black-color);
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 50px;
  padding-top: 94px;
}

.team_list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.john-doe {
  width: 270px;
  height: 428px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}

.JD {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--black-color);
  text-align: center;
  letter-spacing: 0.03em;
}

.list_JD_icon {
  justify-content: space-between;
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
}

.icon_in_JD {
  cursor: pointer;
  margin: 0%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.icon_in_JD:hover {
  background-color: var(--main-color);
  fill: var(--white-color);
}

.work {
  font-size: 16px;
  line-height: 1.2;
  color: var(--gray-color);
  text-align: center;
  letter-spacing: 0.03em;
}

.our_team_list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-bottom: 94px;
}

.our_team_icon {
  cursor: pointer;
  width: 170px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our_team_icon:hover {
  border-color: var(--main-color);
  fill: var(--main-color);
}

/*===MENU END====*/

/*==PORTFOILIO START==*/

.agency_second {
  line-height: 1.1;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--black-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  position: relative;
}

.agency_second:hover {
  color: var(--main-color);
}

.portfolio_second {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--black-color);
  text-decoration: none;
  position: relative;
}

.portfolio_second:hover {
  color: var(--main-color);
}

.section {
  margin: 94px 0px 94px 0px;
}

.filter {
  background-color: var(--white-color);
  display: block;
}

.f_border {
  display: flex;
  gap: 8px;
  justify-content: center;
  list-style: none;
}

.portfolio_button_first {
  width: 128px;
  height: 38px;
  border-radius: 4px;
  background: var(--main-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;

  letter-spacing: 0.03em;
  color: var(--white-color);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: 0px;
  text-transform: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_button {
  width: 128px;
  height: 38px;
  border-radius: 4px;
  background: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: 0px;
  text-transform: none;
  transition: 250ms;
}

.portfolio_button:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}

.portfolio_card {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

.card-image {
  display: block;
}

.item {
  margin-bottom: 30px;
  margin-top: 30px;
  cursor: pointer;
  width: 370px;
  height: 404px;
}

.item:hover {
  box-shadow: 0 5px 15px rgba(141, 132, 132, 0.8);
}

.content {
  width: 368px;
  height: 108px;
  border-bottom: solid 1px #eeeeee;
  border-left: solid 1px #eeeeee;
  border-right: solid 1px #eeeeee;
}

.img-h {
  width: 370px;
  height: 294px;
  overflow: hidden;
  z-index: 2;
  position: relative;
}

.overlay {
  margin: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  padding-top: 49px;
  padding-left: 24px;
  color: var(--white-color);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover .overlay {
  transform: translateY(-90%);
  opacity: 0.8;
  background-color: var(--main-color);
}

.title_content {
  padding: 20px 24px 20px 24px;
  font-size: 18px;
}

.description {
  margin: 4px 24px 20px 24px;
  font-size: 16px;
  color: var(--gray-color);
}

/*===PORTFOLIO END===*/

/*===FOOTER START===*/

.footer {
  background-color: rgba(47, 48, 58, 1);
  height: 252px;
}

.footer .container {
  display: flex;
  justify-content: start;
}

.footer_socialmedia {
  display: flex;
}
.footer_logo {
  padding-top: 60px;
  padding-bottom: 20px;
}

.footer_logo:hover {
  color: var(--main-color);
}

.logo_footer_one {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.2;
  color: var(--main-color);
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo_footer_two {
  color: var(--white-color);
}

.footer_address {
  padding-bottom: 9px;
}

.address {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer_mail {
  padding-bottom: 9px;
}

.email {
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms;
}

.email:hover {
  color: var(--main-color);
}

.footer_phone {
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms;
}
.footer_phone:hover {
  color: var(--main-color);
}

.list_footer_icon {
  justify-content: space-between;
  display: flex;
}

.div_social {
  width: 206px;
  height: 80px;

  padding-top: 72px;
  padding-left: 70px;
}
.add_to_us {
  font-family: var(--main-font);
  font-weight: 700;
  line-height: 1.9;
  color: var(--white-color);
  font-size: 14px;
  letter-spacing: 00.03em;
  padding-bottom: 20px;
}

.social_footer_icon {
  cursor: pointer;
  margin: 0%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--white-color);
}

.social_footer_icon :hover {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--main-color);
}

.newsletter {
  width: 570px;
  height: 86px;
  padding-left: 78px;
  padding-top: 72px;
}

.join_to_newsletter {
  font: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.newsletter_box {
  margin-top: 20px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
}

.newsletter_box input {
  width: 358px;
  padding: 15px;
  padding-left: 16px;
  margin-right: 12px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--white-color);
  border-radius: 4px;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter_box input:focus {
  border-color: var(--main-color);
}

.newsletter_btn {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  cursor: pointer;
  fill: var(--white-color);
}

.newsletter_btn > svg {
  margin-left: 24px;
}

/*===FOOTER END===*/

/*===BACKDROP START===*/

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  scale: (1);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.div_text_widnow {
  margin-top: 40px;
  margin-left: 40px;
  width: 448px;
  text-align: center;
}

.text_in_modal_window {
  color: var(--black-color);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  font-family: var(--main-font);
}

.my_form {
  width: 448px;
  height: 40px;
  margin-top: 32px;
}

.my_form .input {
  border: 0;
  background: transparent;
  outline: 0;
  padding-left: 40px;
}

.my_form .modal_icon_user {
  position: absolute;
  width: 12px;
  height: 12px;
  padding-left: 15px;
  padding-top: 14px;

  fill: #212121;
}

.my_form .modal_icon_phone {
  position: absolute;
  width: 13px;
  height: 13px;
  padding-left: 14.27px;
  padding-top: 14px;
  fill: #212121;
}

.my_form .modal_icon_mail {
  position: absolute;
  width: 16px;
  height: 12px;
  padding-left: 15px;
  padding-top: 13.5px;
  fill: #212121;
}

.fieldset:has(input:focus) {
  border-color: var(--main-color);
}

.fieldset:has(input:focus) .modal_icon_user {
  fill: var(--main-color);
}

.fieldset:has(input:focus) .modal_icon_phone {
  fill: var(--main-color);
}

.fieldset:has(input:focus) .modal_icon_mail {
  fill: var(--main-color);
}

.my_form .label {
  position: absolute;
  top: -24px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.fieldset {
  display: flex;
  position: relative;
  width: 448px;
  height: 40px;
  margin-left: 40px;
  margin-top: 28px;
  border-radius: 4px;
  padding: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.fieldset_comment {
  position: relative;
  width: 448px;
  height: 120px;
  margin-left: 40px;
  margin-top: 28px;
  border-radius: 4px;
  padding: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.fieldset_comment:has(input:focus) {
  border-color: var(--main-color);
}

.text-area {
  position: absolute;
  resize: none;
  margin-top: 12px;
  margin-left: 16px;
  width: 416px;
  height: 96px;
  font-size: 12px;
  border: 0;
  outline: 0;
}

::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  border: none;
  position: absolute;
}

.legal-checkbox {
  line-height: 146%;
  display: flex;
  margin-left: 54px;
  height: 24px;
  margin-top: 20px;
}

.legal-checkbox p {
  letter-spacing: 0.03em;
  min-width: 395px;
  margin: 0;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 24px;
  color: var(--gray-color);
}

.input_checkbox {
  margin-right: 7px;
}

.regulations {
  font-size: 14px;
  cursor: pointer;
  font-family: var(--main-font);
  color: var(--main-color);
  text-decoration: underline var(--main-color);
}

.privacy_policy {
  font-family: var(--main-font);
  font-size: 14px;
  cursor: pointer;
  color: var(--main-color);
  text-decoration: underline var(--main-color);
}

.modal_button {
  margin-left: 164px;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  color: var(--white-color);
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/*===BACKDROP END===*/
